--
-- PostgreSQL database dump
--

\restrict 4TKg6ok2nDaBk3vOyylWLq1YA15DZfc4cQljnvn8MXUz7PIVPMylC3JaUPSvdWY

-- Dumped from database version 17.6 (Debian 17.6-1.pgdg13+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cards; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.cards (
    pokedex_number integer NOT NULL,
    hp character varying(255),
    image_url character varying(500),
    name character varying(255) NOT NULL,
    types character varying(100)
);


ALTER TABLE public.cards OWNER TO admin;

--
-- Data for Name: cards; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: cards cards_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cards
    ADD CONSTRAINT cards_pkey PRIMARY KEY (pokedex_number);


--
-- PostgreSQL database dump complete
--

\unrestrict 4TKg6ok2nDaBk3vOyylWLq1YA15DZfc4cQljnvn8MXUz7PIVPMylC3JaUPSvdWY

